<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @promotion.title %>
</p>

<p>
  <strong>Terms:</strong>
  <%= @promotion.promotion_terms %>
</p>
<%= link_to 'Back', promotions_path %>

